<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
<%- include("../menu"); %>
<%- include("../footer"); %>

<%
function getFormatDate(date) {
    var year = date.getFullYear();
    var month = (1 + date.getMonth());
    month = month >= 10 ? month : '0' + month;
    var day = date.getDate();
    day = day >= 10 ? day : '0' + day;
    return year + '-' + month + '-' + day;
}
%>

<div class="container">
    <div class="my-jumbotron-top">
        <div class="md-form">
            <input type="text" id="assortment" class="form-control"
                   value="<%= result.assortment ? "수입" : "지출" %>" readonly/>
            <label for="assortment">구분</label>
        </div>

        <div class="md-form">
            <input type="text" id="amount" class="form-control" value="<%= result.amount %>" readonly/>
            <label for="amount">금액</label>
        </div>

        <div class="md-form">
            <input type="text" id="description" class="form-control" value="<%= result.description %>" readonly/>
            <label for="description">상세내역</label>
        </div>

        <div class="md-form">
            <input type="text" id="target" class="form-control" value="<%= result.target %>" readonly/>
            <label for="target">대상</label>
        </div>

        <div class="md-form">
            <input type="text" id="category" class="form-control" value="<%= result.category %>" readonly/>
            <label for="category">분류</label>
        </div>

        <div class="md-form">
            <input type="text" id="created" class="form-control" value="<%= getFormatDate(result.created) %>" readonly/>
            <label for="created">기록일시</label>

            <button type="button" class="btn btn-cyan btn-md"
                    onclick="location.href='/api/statement/'"
            >Back
            </button>

            <button type="button" class="btn btn-dark-green btn-md"
                    onclick="location.href='/api/statement/<%= result._id %>/edit'"
            >Modify
            </button>
        </div>
    </div>
</div>

</body>
</html>