<!DOCTYPE html>
<html lang="en">
<%- include("../header"); %>
<body>
  <%- include("../menu"); %>
  <%- include("../footer"); %>
  <!-- Material input -->

  <%
  function getFormatDate(date){
      var year = date.getFullYear();              //yyyy
      var month = (1 + date.getMonth());          //M
      month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
      var day = date.getDate();                   //d
      day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
      return  year + '-' + month + '-' + day;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
  }
  %>

<div class="md-form">
  <input type="text" id="assortment" class="form-control"
         value="<%= result.assortment ? "수입" : "지출" %>" readonly />
  <label for="assortment">구분</label>
</div>

<div class="md-form">
  <input type="text" id="amount" class="form-control" value="<%= result.amount %>" readonly />
  <label for="amount">금액</label>
</div>

<div class="md-form">
  <input type="text" id="description" class="form-control" value="<%= result.description %>" readonly />
  <label for="description">상세내역</label>
</div>

<div class="md-form">
      <input type="text" id="target" class="form-control" value="<%= result.target %>" readonly />
      <label for="target">대상</label>
</div>

<div class="md-form">
      <input type="text" id="category" class="form-control" value="<%= result.category %>" readonly />
      <label for="category">분류</label>
</div>

<div class="md-form">
    <input type="text" id="created" class="form-control" value="<%= getFormatDate(result.created) %>" readonly />
    <label for="created">기록일시</label>
</div>

<button type="button" class="btn btn-cyan btn-md"
          onclick="location.href='/api/statement/'"
          >Back</button>

<button type="button" class="btn btn-dark-green btn-md"
          onclick="location.href='/api/statement/<%= result._id %>/edit'"
          >Modify</button>

</body>
</html>